.footerContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 10px;
}

.contentContainer {
    display: grid;
    place-items: center;
    text-align: center;
}

.socialIcons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialIcons > * {
    margin-right: 10px;
}

.contentContainer p {
    width: 100%;
    margin: 0;
    color: black !important;
}