.titulo {
    height: 30vh;
    display: grid;
    place-items: center;
}

.titulo h1{
    color: rgb(255, 255, 255);
    font-size: 6rem;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 1);
    text-align: center;
}

@media screen and (max-width: 768px) {
    .titulo h1{
        font-size: 3rem;
    }
}
