.fondoMapa{
    background-image: url('https://images.pexels.com/photos/6412837/pexels-photo-6412837.jpeg?auto=compress&cs=tinysrgb&w=3839&h=5759&dpr=1');
    display: grid;
    place-items: center;
}

.contenedorTitulo{
    display: grid;
    place-items: center;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.titulo{
    color: aliceblue;
    font-size: 5rem;
}

.botonMapear{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.botonMapa{
    --font-color: #7484e6;
    --bg-color: #fff;
    --main-color: #de7fb6;
    width: 7rem;
    height: 3.5rem;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 1rem;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
}

.botonMapa:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

@media screen and (max-width: 430px){
    .titulo{
        font-size: 3rem;
    }
}

@media screen and (max-width: 375px){
    .titulo{
        font-size: 2rem;
    }
}