.navbar{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.imgLogo{
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.navLinks {
    margin-right: 1rem;
    display: flex;
    gap: 2rem;
}

.navLink {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
    font-weight: bolder;
}

.navLink:hover {
    text-underline-offset: 0.5rem;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    -webkit-text-decoration: underline;
    text-decoration-color: rgb(172, 182, 249) solid;
    -webkit-text-decoration-thickness: 0.2rem;
    -webkit-text-decoration-color: rgb(172, 182, 249);
}

@media screen and (max-width: 1024px){
    .navLink:hover{
        color: white;
    }
}