html{
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

section{
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  scroll-snap-align: start;
}

section:first-of-type(1) {
  background-image: url('https://images.pexels.com/photos/6412836/pexels-photo-6412836.jpeg?auto=compress&cs=tinysrgb&w=3578&h=5367&dpr=1');
}

section:nth-of-type(2) {
  background-image: url('https://images.pexels.com/photos/7535456/pexels-photo-7535456.jpeg?auto=compress&cs=tinysrgb&w=2266&h=3393&dpr=1');
}

section:nth-of-type(3) {
  background-image: url('https://images.pexels.com/photos/992734/pexels-photo-992734.jpeg?auto=compress&cs=tinysrgb&w=4608&h=3072&dpr=1');
}

::-webkit-scrollbar{
  width: 0;
  height: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, rgb(172, 182, 249));
  border-radius: 0.25rem;
}